/*
 * Definicje wyglądu aplikacji AirBackup 1.1
 * (c) javascript-html5-tutorial.pl
 */

.clear {
    clear: both;
}

#my-window {
    width: 540px;
    height: 340px;
    background-color: #fff;
    border: 1px outset #00d;
    overflow: hidden;
    -webkit-border-radius: 10px;
}

#app-label {
    float: left;
    padding: 4px;
    cursor: move;
}

#top-bar {
    height: 30px;
    border-bottom: 1px solid #00a;
    text-align: right;
    padding: 2px 8px 0 4px;
    cursor: move;
}

#top-bar a {
    font-weight: bold;
    color: #f00;
    text-decoration: none;
    line-height: 30px;
}

#files {
    list-style-type: square;
    float: left;
    width: 300px;
    height: 200px;
    overflow: auto;
    padding: 5px;
    font-size: 9px;
}

#drop-area {
    float: left;
    width: 500px;
    height: 90px;
    border: 1px solid #00d;
    background-color: #efe;
    margin: 10px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 8pt;
}

#control-area {
    cursor: pointer;
    float: right;
    padding: 10px
}

#info {
    padding: 8px 0 4px 8px;
    font-size: 9pt;
}
